In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
results = pd.read_csv("results.csv")
results.sample(10)

C:\Users\User\AppData\Local\Temp\ipykernel_20100\587703361.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  results = pd.read_csv("results.csv")

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7
249417,2008 Summer Olympics,"50 metres Freestyle, Women (Olympic)",NaN,24.0,NaN,Arianna Vanderpool-Wallace,115957,BAH,Swimming (Aquatics),NaN,NaN
121537,1976 Summer Olympics,"Flyweight, Men (Olympic)",NaN,13.0,NaN,Precious McKenzie,55749,GBR,Weightlifting,NaN,NaN
241381,2008 Summer Olympics,"Road Race, Individual, Men (Olympic)",NaN,56,NaN,Matija Kvasina,111637,CRO,Cycling Road (Cycling),NaN,NaN
282607,2020 Summer Olympics,"4 × 400 metres Relay, Mixed (Olympic)",Belgium,5.0,NaN,Dylan Borlée,132654,BEL,Athletics,NaN,NaN
306434,2020 Summer Olympics,"Handball, Women (Olympic)",Hungary,7.0,NaN,Melinda Szikora,147799,HUN,Handball,NaN,NaN
106663,1980 Summer Olympics,"100 metres Butterfly, Men (Olympic)",NaN,14,NaN,Fabrizio Rampazzo,48568,ITA,Swimming (Aquatics),NaN,NaN
161806,1964 Summer Olympics,"Discus Throw, Women (Olympic)",NaN,1.0,Gold,Tamara Press,77285,URS,Athletics,NaN,NaN
143892,1984 Summer Olympics,"200 metres, Women (Olympic)",NaN,5 h1 r2/4,NaN,Sandra Whittaker,68810,GBR,Athletics,NaN,NaN
174976,2000 Summer Olympics,"Baseball, Men (Olympic)",Republic of Korea,3.0,Bronze,Kim Gi-Tae,82657,KOR,Baseball (Baseball/Softball),NaN,NaN
83436,1960 Summer Olympics,"Eights, Men (Olympic)",Japan,2 h1 r2/3,NaN,Hironori Itsuki,38577,JPN,Rowing,NaN,NaN

In [6]:
results.columns

Index(['Games', 'Event', 'Team', 'Pos', 'Medal', 'As', 'athlete_id', 'NOC',
       'Discipline', 'Nationality', 'Unnamed: 7'],
      dtype='object')

In [8]:
results['Unnamed: 7'].unique()

array([nan])

In [13]:
results = results.drop(columns=["Unnamed: 7"])
results.columns

KeyError: "['Unnamed: 7'] not found in axis"

In [25]:
results.groupby("NOC")["Medal"].count().sort_values(ascending=False)

NOC
USA    5995
URS    2480
GER    2399
GBR    2199
FRA    2009
       ...
VAN       0
YEM       0
YAR       0
VNM       0
YMD       0
Name: Medal, Length: 230, dtype: int64

In [ ]:
import matplotlib.pyplot as pit